.container_P2 {
  max-width: 1200px;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }

  input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f5ff;
    font-size: 14px;
    box-sizing: border-box;
  }

  .helpIcon_P2 {
    color: #007bff;
    font-size: 12px;
    cursor: help;
    margin-left: 3px;
  }
}

.header_P2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 14px;

  .required_P2 {
    color: #d9534f;
    font-weight: normal;
  }
}

.row_P2 {
  display: flex;
  gap: 10px;
  align-items: end;
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  overflow-x: auto;
  box-shadow: 0 4px 10px #0000001a;
}

.item_P2 {
  flex: 1;
  min-width: 140px;
  width: 100%;
}

/* Responsivo */
@media (max-width: 768px) {
  .row_P2 {
    flex-direction: column;
    gap: 10px;
  }
}
