.titulo{
    align-content: left;
    color: rgb(16, 16, 123);
    margin-top: 40px; 
    margin-left: 40px; 
    font-size: 30px; /*tamaño del texto*/
}

.pregunta-cuadro{
    border: 2px solid rgb(16, 16, 123);  /* Borde del cuadro */
    border-radius: 10px;                  /* Bordes redondeados */
    padding: 20px;                        /* Espacio dentro del cuadro */
    background-color: rgb(230, 230, 250); /* Color de fondo */
    font-size: 18px;                       /* Tamaño del texto */
    width: 80%;                            /* Ancho del cuadro */
    margin-left: 40px;                      /* Centrar horizontalmente */
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2); /* Sombra opcional */
    font-size: 15px; /*tamaño del texto*/

}
