
// Colores
$color-primary: #003e79;
$color-secondary: #fab403;
$color-background: #f5f5f7;
$color-text: #000000;

// Tipografía
$font-primary: "Inter", sans-serif;
$font-titles: "Montserrat", sans-serif;
