@import "variables";

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-padding-top: 0rem;
  scrollbar-width: none;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: $color-background;
  font-family: $font-primary;
  font-style: normal;
  font-size: 2rem;
  font-optical-sizing: auto;
  min-height: 100dvh;
  width: 100vw;
  color: $color-text;
}

p {
  font-size: 2rem;
  line-height: 1.5;
}

a {
  color: $color-primary;
  display: block;
  text-decoration: none;
  margin: 10px 5px;

  &:hover {
    color: $color-secondary;
  }
}

h1,
h2,
h3 {
  margin: 0 0 5rem 0;
  font-weight: 600;
  font-family: $font-titles;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 4rem;
  text-align: center;
}

label {
  display: block;
  text-align: start;
  width: 100%;
}

img {
  object-fit: cover;
}
